<ion-header>
  <app-header name="Novo programa de treino"></app-header>
</ion-header>

<ion-content scroll="true">
      <ion-list padding>

          <ion-item>
            <ion-label> Nome </ion-label>
            <ion-input type="text" [(ngModel)]="trainingProgram.name" name="name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Ativo</ion-label>
            <ion-toggle checked="true" name="active" [(ngModel)]="trainingProgram.active"></ion-toggle>
          </ion-item>

      </ion-list>

      <div class="workouts">
        <header>
          <span padding class="title"> Treinos </span>
          <button ion-button icon-only (click)="addWorkout()">
              <ion-icon name="add"></ion-icon>
          </button>
        </header>
        <ion-item-group class="workout-list" *ngFor="let workout of workouts">
          <ion-item-divider color="light">
            <span item-start>{{ workout.name }}</span>

            <button item-end ion-button icon-only (click)="openAlertAddExercicio(workout)">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-item-divider>
          <ng-template *ngFor="let exercise of exercises">
            <ion-item *ngIf="exercise.workoutId == workout._id.$oid">
              <ion-grid>
                <ion-row>
                    <ion-col col-9 text-left>{{ exercise.name }}</ion-col>
                    <ion-col col-3 text-right>{{ exercise.repetitions }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ng-template>
        </ion-item-group>

      </div>
</ion-content>
