<ion-header>
  <app-header name="Programa de treino"></app-header>
</ion-header>

<ion-content scroll="true">

      <div class="workouts">
        <header>
          <span padding class="title"> Treinos </span>
          <button ion-button icon-only (click)="addWorkout()">
              <ion-icon name="add"></ion-icon>
          </button>
        </header>
        <ion-item-group class="workout-list" *ngFor="let workout of workouts">
          <ion-item-divider color="light">
            <span item-start>{{ workout.name }}</span>

            <button item-end ion-button icon-only (click)="openAlertAddExercicio(workout)">
              <ion-icon name="add"></ion-icon>
            </button>
            <button item-end ion-button icon-only (click)="delete('workouts', workout)">
              <ion-icon name="trash" color='danger'></ion-icon>
            </button>
          </ion-item-divider>
          <div *ngFor="let exercise of exercises">
            <ion-item *ngIf="exercise.workoutId == workout._id.$oid">
              <ion-grid>
                <ion-row>
                    <ion-col col-7 text-left>{{ exercise.name }}</ion-col>
                    <ion-col col-3 text-right>{{ exercise.repetitions }}</ion-col>
                    <ion-col col-2 text-right>
                      <ion-icon name="trash" color='danger' (click)="delete('exercises', exercise)"></ion-icon>
                    </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </div>
        </ion-item-group>

      </div>
</ion-content>
