<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Meus treinos</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="danger" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content padding-top>
  <ion-list *ngIf="workouts.length > 0">
      <ion-item-group *ngFor="let workout of workouts">
        <ion-item-divider color="light">{{ workout.name }}</ion-item-divider>
        <div *ngFor="let exercise of exercises">
          <ion-item *ngIf="exercise.workoutId == workout._id.$oid">
            <ion-grid>
              <ion-row>
                <ion-col col-9 text-left>{{ exercise.name }}</ion-col>
                <ion-col col-3 text-right>{{ exercise.repetitions }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </ion-item-group>
  </ion-list>

  <ion-card *ngIf="!hasRegister" padding>
    <ion-card-header text-center>
      Nenhum plano de treino
    </ion-card-header>

    <ion-card-content>
      <button ion-button full (click)="goToAddTrainingProgram()"> Adicionar plano</button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">

    <ion-buttons start>
        <button ion-button icon-end (click)="goToAddTrainingProgram()">
          Adicionar treino
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-end (click)="goToUser()">
        Usuário
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
